# Just like the old saying:
### *All happy families resemble each other, while unhappy ones each have their own problems.*
# So we can assume:
### Duplicated questions resemble each other, while unduplicated questions have their own differences.

Suppose  if A=B and B=C, we assume that A=C

For example:  if we have this kind of data, and they are duplicated

    [qid1,qid2]
    [1,2]
    [1,3]
    [11,2]
    [12,2]

so we can get [1,2,3,11,12] are duplicated questions, 
so we can generate more positive training data:

    [1,2]
    [1,3]
    [1,11]
    [1,12]
    [2,3]
    [2,11]
    [2,12]
    [3,11]
    [3,12]
    [11,12]

Let's do it

In [2]:
import numpy as np
import pandas as pd
from IPython.display import  display
from collections import defaultdict
from itertools import combinations
pd.set_option('display.max_colwidth',-1)

In [3]:
train_df=pd.read_csv('data/train.csv')
train_df.head(2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>What is the step by step guide to invest in share market in india?</td>
      <td>What is the step by step guide to invest in share market?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>What is the story of Kohinoor (Koh-i-Noor) Diamond?</td>
      <td>What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
# only duplicated questions
ddf=train_df[train_df.is_duplicate==1]
print('Duplicated questions shape:',ddf.shape)
ddf.head(2)

Duplicated questions shape: (149263, 6)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>11</td>
      <td>12</td>
      <td>Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?</td>
      <td>I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>15</td>
      <td>16</td>
      <td>How can I be a good geologist?</td>
      <td>What should I do to be a great geologist?</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
nddf=train_df[train_df.is_duplicate==0]
print(len(nddf))
nddf.head(2)

255027

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>What is the step by step guide to invest in share market in india?</td>
      <td>What is the step by step guide to invest in share market?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>3</td>
      <td>4</td>
      <td>What is the story of Kohinoor (Koh-i-Noor) Diamond?</td>
      <td>What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

There are 149263 pairs duplicated questions

In [5]:
# get all duplicated questions
clean_ddf1=ddf[['qid1','question1']].drop_duplicates()
clean_ddf1.columns=['qid','question']
clean_ddf2=ddf[['qid2','question2']].drop_duplicates()
clean_ddf2.columns=['qid','question']
all_dqdf=clean_ddf1.append(clean_ddf2,ignore_index=True)
print(all_dqdf.shape)
all_dqdf.head(2)

(172286, 2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid</th>
      <th>question</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11</td>
      <td>Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15</td>
      <td>How can I be a good geologist?</td>
    </tr>
  </tbody>
</table>
</div>

There are 172286 questions in the above df

In [6]:
# groupby qid1, and then we get all the combinations of id in each group
dqids12=ddf[['qid1','qid2']]
df12list=dqids12.groupby('qid1', as_index=False)['qid2'].agg({'dlist':(lambda x: list(x))})
print(len(df12list))
d12list=df12list.values
d12list=[[i]+j for i,j in d12list]
# get all the combinations of id, like (id1,id2)...
d12ids=set()
for ids in d12list:
    ids_len=len(ids)
    for i in range(ids_len):
        for j in range(i+1,ids_len):
            d12ids.add((ids[i],ids[j]))
print(len(d12ids))

86197

230884

In [8]:
# the same operation of qid2
dqids21=ddf[['qid2','qid1']]
display(dqids21.head(2))
df21list=dqids21.groupby('qid2', as_index=False)['qid1'].agg({'dlist':(lambda x: list(x))})
print(len(df21list))
ids2=df21list.qid2.values
d21list=df21list.values
d21list=[[i]+j for i,j in d21list]
d21ids=set()
for ids in d21list:
    ids_len=len(ids)
    for i in range(ids_len):
        for j in range(i+1,ids_len):
            d21ids.add((ids[i],ids[j]))
len(d21ids)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid2</th>
      <th>qid1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>5</th>
      <td>12</td>
      <td>11</td>
    </tr>
    <tr>
      <th>7</th>
      <td>16</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

86089

230768

In [8]:
# merge two set
dids=list(d12ids | d21ids)
len(dids)

363294

In [10]:
# let's define union-find function
def indices_dict(lis):
    d = defaultdict(list)
    for i,(a,b) in enumerate(lis):
        d[a].append(i)
        d[b].append(i)
    return d

def disjoint_indices(lis):
    d = indices_dict(lis)
    sets = []
    while len(d):
        que = set(d.popitem()[1])
        ind = set()
        while len(que):
            ind |= que 
            que = set([y for i in que 
                         for x in lis[i] 
                         for y in d.pop(x, [])]) - ind
        sets += [ind]
    return sets

def disjoint_sets(lis):
    return [set([x for i in s for x in lis[i]]) for s in disjoint_indices(lis)]

In [11]:
# split data into groups, so that each question in each group are duplicated
did_u=disjoint_sets(dids)
new_dids=[]
for u in did_u:
    new_dids.extend(list(combinations(u,2)))
len(new_dids)

228548

In [12]:
new_ddf=pd.DataFrame(new_dids,columns=['qid1','qid2'])
print('New duplicated shape:',new_ddf.shape)
display(new_ddf.head(2))

New duplicated shape: (228548, 2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>28291</td>
      <td>13817</td>
    </tr>
    <tr>
      <th>1</th>
      <td>28291</td>
      <td>5902</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
# merge with all_dqdf to get question1 description
new_ddf=new_ddf.merge(all_dqdf,left_on='qid1',right_on='qid',how='left')
new_ddf.drop('qid',inplace=True,axis=1)
new_ddf.columns=['qid1','qid2','question1']
new_ddf.drop_duplicates(inplace=True)
print(new_ddf.shape)
new_ddf.head(2)

(228548, 3)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>28291</td>
      <td>13817</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28291</td>
      <td>5902</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
# the same operation with qid2
new_ddf=new_ddf.merge(all_dqdf,left_on='qid2',right_on='qid',how='left')
new_ddf.drop('qid',inplace=True,axis=1)
new_ddf.columns=['qid1','qid2','question1','question2']
new_ddf.drop_duplicates(inplace=True)
print(new_ddf.shape)
new_ddf.head(2)

(228548, 4)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>28291</td>
      <td>13817</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Massachisetts?</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28291</td>
      <td>5902</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Illinois?</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
# is_duplicate flag
new_ddf['is_duplicate']=1
new_ddf.head(2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>28291</td>
      <td>13817</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Massachisetts?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28291</td>
      <td>5902</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Illinois?</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
# let random select 10 rows to check the result
new_ddf.sample(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>135509</th>
      <td>41598</td>
      <td>20607</td>
      <td>How can you lose gigantic love handles FAST?</td>
      <td>How can someone lose weight quickly?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>329378</th>
      <td>453474</td>
      <td>453475</td>
      <td>What are some of the challenges you face as a writer?</td>
      <td>Is it challenging to be a writer?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>196204</th>
      <td>390977</td>
      <td>274724</td>
      <td>How can I get fund for my startup like Flipboard?</td>
      <td>How startup get funding?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>293586</th>
      <td>85683</td>
      <td>85684</td>
      <td>How do I install a kick start in yamaha fzs version 2.0?</td>
      <td>How do I install a kick start in yamaha FZ-S version 2.0?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>177094</th>
      <td>480900</td>
      <td>20204</td>
      <td>Why do my easy-to-understand questions keep getting marked as "needing improvement" on Quora?</td>
      <td>Why does Quora always mark my question as needing clarification but does not specify the reason?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20767</th>
      <td>24734</td>
      <td>27851</td>
      <td>How can I speaking fluently speaking English?</td>
      <td>How the way to speak english fluently?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>288342</th>
      <td>340226</td>
      <td>340227</td>
      <td>How are sound waves formed?</td>
      <td>How do waves form sound waves?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>101468</th>
      <td>38339</td>
      <td>46707</td>
      <td>Can somebody help me with the list of best top horror movies of all time?</td>
      <td>What are some best horror movies?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>290767</th>
      <td>343656</td>
      <td>343657</td>
      <td>My btech percentage is below 60 will I get a job?Is there any companies accept below 60?</td>
      <td>My btech percentage is below 60 will I get a job? Is there any companies accept below 60 percentage?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>277955</th>
      <td>68923</td>
      <td>233615</td>
      <td>How much time it will take for the beginners to learn the basic of guitars?</td>
      <td>How much time did you take to learn guitar?</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

### It seemed quite make sense

In [33]:
# the orininal duplicated pairs count:
print('Old duplicates:  {}'.format(len(all_dqdf)))
# after we generate more data, then the duplicated pairs count:
print('New duplicates:  {}'.format(len(new_ddf)))
print('None duplicates: {}'.format(len(nddf)))

Old duplicates:  172286
New duplicates:  228548
None duplicates: 255027

In [36]:
new_ddf.to_csv('data/all_duplicates.csv', sep=",", index=True)
nddf.to_csv('data/all_none_duplicates', index=False)

In [37]:
new_ddf.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>28291</td>
      <td>13817</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Massachisetts?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>28291</td>
      <td>5902</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Illinois?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>28291</td>
      <td>5903</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in South Carolina?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>28291</td>
      <td>102817</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in North Carolina?</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>28291</td>
      <td>57257</td>
      <td>What are the safety precautions on handling shotguns proposed by the NRA in Maryland?</td>
      <td>What are the safety precautions on handling shotguns ?</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
nddf.drop('id', 1).head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>qid1</th>
      <th>qid2</th>
      <th>question1</th>
      <th>question2</th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2</td>
      <td>What is the step by step guide to invest in share market in india?</td>
      <td>What is the step by step guide to invest in share market?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>4</td>
      <td>What is the story of Kohinoor (Koh-i-Noor) Diamond?</td>
      <td>What would happen if the Indian government stole the Kohinoor (Koh-i-Noor) diamond back?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>6</td>
      <td>How can I increase the speed of my internet connection while using a VPN?</td>
      <td>How can Internet speed be increased by hacking through DNS?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>8</td>
      <td>Why am I mentally very lonely? How can I solve it?</td>
      <td>Find the remainder when [math]23^{24}[/math] is divided by 24,23?</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>10</td>
      <td>Which one dissolve in water quikly sugar, salt, methane and carbon di oxide?</td>
      <td>Which fish would survive in salt water?</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
all = new_ddf.append(nddf.drop('id', 1))
all = all.sample(frac=1)
all.head()
all.to_csv('data/new_dataset.csv')